---
import'../../assets/styles/Lenguajes.css'
const etiquetas = ['HTML', 'CSS', 'JavaScript', 'Typescript', 'Tailwind', 'React', 'Next.js', 'Gatsby', 'UI/UX', 'SVG', 'animation', 'webdev'];

console.log(etiquetas);
---
   <div class="div_contenedor">  
        <div class="contedor_2">
            

            <div class="contenedor_4">
                <div class="contedor_3"></div>
            <div class="fila_1">
                {
                    etiquetas.map(item => (
                    <div class="div_item"><span class="numeral">#</span> {item}</div>
                    ))
                }
            </div>
            <div class="fila_2">
                {
                    etiquetas.map(item => (
                    <div class="div_item"><span class="numeral">#</span>{item}</div>
                    ))
                }
            </div>
            <div class="fila_1">
                {
                    etiquetas.map(item => (
                    <div class="div_item"><span class="numeral">#</span>{item}</div>
                    ))
                }
            </div>
            <div class="fila_2">
                {
                    etiquetas.map(item => (
                    <div class="div_item"><span class="numeral">#</span> {item}</div>
                    ))
                }
            </div>
            <div class="fila_1">
                {
                    etiquetas.map(item => (
                    <div class="div_item"><span class="numeral">#</span> {item}</div>
                    ))
                }
            </div>
            </div>
        </div>
    </div> 

