---
import'../../assets/styles/Lenguajes.css'
const etiquetas = ['HTML', 'CSS', 'JavaScript', 'Typescript', 'Tailwind', 'Astro', 'Boostrap', 'Python', 'Django', 'React', 'Next.js', 'Node', 'Laravel', 'Vercel', 'IA', 'Gatsby', 'UI/UX', 'IOT', 'animation', 'webdev', 'Vue.js', 'Angular', 'Svelte', 'Express', 'MongoDB', 'SQL', 'GraphQL', 'Firebase', 'AWS', 'Docker', 'Jenkins', 'Git', 'Redux', 'Webpack', 'Babel', 'Cypress', 'Puppeteer', 'RxJS', 'MobX', 'GraphQL', 'Más'];

---
   <div class="div_contenedor">  
        <div class="contedor_2">
            

            <div class="contenedor_4">
                <div class="contedor_3"></div>
            <div class="fila_1">
                {
                    etiquetas.map(item => (
                    <div class="div_item"><span class="numeral">#</span> {item}</div>
                    ))
                }
            </div>
            <div class="fila_2">
                {
                    etiquetas.map(item => (
                    <div class="div_item"><span class="numeral">#</span>{item}</div>
                    ))
                }
            </div>
            <div class="fila_1">
                {
                    etiquetas.map(item => (
                    <div class="div_item"><span class="numeral">#</span>{item}</div>
                    ))
                }
            </div>
            <div class="fila_2">
                {
                    etiquetas.map(item => (
                    <div class="div_item"><span class="numeral">#</span> {item}</div>
                    ))
                }
            </div>
            <div class="fila_1">
                {
                    etiquetas.map(item => (
                    <div class="div_item"><span class="numeral">#</span> {item}</div>
                    ))
                }
            </div>
            </div>
        </div>
    </div> 

